
{{FOR_EACH_FUNCTION:
template<typename Function>
{{IF_NONVOID:auto}}{{IF_VOID:{{RETURN_TYPE}}}} {{NAME}}(Function original{{,ARGUMENT_LIST}}){{IF_NONVOID: -> {{RETURN_TYPE}}}}
{
   {{IF_NONVOID:return }}timestamp(original({{ARGUMENT_NAMES}}));
}
}}
